St John Paul II
Do not be afraid. Do not be satisfied with mediocrity. Put out into the deep and let down your nets for a catch.

1 Corinthians 6:19-20
"Or do you not know that your body is a temple of the Holy Spirit within you, whom you have from God? You are not your own, for you were bought with a price. So glorify God in your body."